        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <h3> Техпідтримка </h3>
          <ul>
            <li class="supportLi">
              <p> Дзвоніть в разі виникнення запитань </p>
              <h4> <a class="inline" href="callto:+3809912345678"> <strong> <i class="fa fa-phone"> </i> +38 099 12345678 </strong> </a> </h4>
              <h4> <a class="inline" href="mailto:help@няня.com.ua"> <i class="fa fa-envelope-o"> </i> help@няня.com.ua </a> </h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <h3> Магазин </h3>
          <ul>
            <li> <a href="{% url "page" "shop" %}">Каталог товарів </a> </li>
            <li> <a href="{% url "page" "shop/cart" %}">Корзина </a> </li>
          </ul>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
          <h3> Як замовити </h3>
          <ul>
        </a> </li>
            <li> <a href="{% url "page" "how-to-order" %}"> Як замовити </a> </li>
            <li> <a href="{% url "page" "delivery" %}"> Доставка </a> </li>
            <li> <a href="{% url "page" "payment" %}"> Оплата </a> </li>
          </ul>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
          <h3> Про нас </h3>
          <ul>
            <li> <a href="{% url "page" "about" %}"> Про нас </a> </li>
            <li> <a href="{% url "page" "contact" %}"> Контакти </a> </li>
          </ul>
        </div>